{% extends "layout.twig" %}

{% block title %}home{% endblock %}

{% block picteria_javascripts %}<script src="../../web/js/index.js"></script>{% endblock %}

{% block content %}

<img id="helpButton" src="../../web/img/help.png" />

<div id="help">

  <img id="helpButtonClose" class="hideHelpButtonClose" src="../../web/img/help.png" />
  
  <div id="helpHeader"></div>
  
  <h1>help</h1>
  <h2>desktop screen</h2>

  <p>
    you can navigate with the mouse as usual
  </p>
  
  <p>
    or you can use the following keyboard shotcuts
  </p>
  
  <div>
    <table>
      <tr>
        <td>arrow left</td>
        <td>next image</td>
      </tr>
      <tr>
        <td>arrow right</td>
        <td>previous image</td>
      </tr>
      <tr>
        <td>arrow up</td>
        <td>next previews</td>
      </tr>
      <tr>
        <td>arrow down</td>
        <td>previous previews</td>
      </tr>
      <tr>
        <td>r</td>
        <td>switch between full image and fill screen</td>
      </tr>
      <tr>
        <td>b</td>
        <td>back to index</td>
      </tr>
      <tr>
        <td>h</td>
        <td>show / hide controls</td>
      </tr>
    </table>
  </div>
  
  <h2>touch screen</h2>
  
  
  <h1>aide</h1>
  <h2>écran de bureau</h2>

  <h2>écran tactile</h2>
  

  <h1>help</h1>
  
  <h1>help</h1>

</div>

<section id="indexContainer">
  {% for gallery, img in galleriesData %}
<div class="imageContainer {{ loop.index }}">
  <div class="indexImage">  
    <a class="{{ loop.index }}" href="/{{ gallery }}"><img src="{{ img }}"></a>
  </div>
  <div class="galleryTitle">{{ gallery }}</div>
  <div id="{{ loop.index }}" class="active hide"><div class="current"></div></div>
</div>
  {% endfor %}
</section>


{% endblock %}
