{% extends "layout.twig" %}

{% block title %}home{% endblock %}

{% block picteria_javascripts %}
    <script src="/js/index.js"></script>
{% endblock %}

{% block content %}

    <img id="helpButton" src="/img/help.png"/>

    <div id="help">

        <img id="helpButtonClose" class="hideHelpButtonClose" src="/img/help.png"/>

        <div id="helpHeader"></div>

        <ul id="accordeon">

            <!-- english help ----------------------------------------------------- -->
            {% include 'help.en.twig' %}

            <!-- french help ------------------------------------------------------ -->
            {% include 'help.fr.twig' %}

        </ul>
    </div>

    <section id="indexContainer">
        {% for gallery, img in galleriesData %}
            <div class="imageContainer {{ loop.index }}">
                <div class="indexImage">
                    <a class="{{ loop.index }}" href="/gallery/{{ gallery }}"><img src="/galleries/{{ img }}"></a>
                </div>
                <div class="galleryTitle">{{ gallery }}</div>
                <div id="{{ loop.index }}" class="active hide">
                    <div class="current"></div>
                </div>
            </div>
            <div id="previews-{{ loop.index0 }}" class="hide"></div>
        {% endfor %}
    </section>

{% endblock %}
