{% extends "layout.twig" %}

{% block title %}home{% endblock %}

{% block picteria_javascripts %}<script src="../../web/js/index.js"></script>{% endblock %}

{% block content %}


<section id="indexContainer">
  {% for gallery, img in galleriesData %}
<div class="imageContainer {{ loop.index }}">
  <div class="indexImage">  
    <a class="{{ loop.index }}" href="/{{ gallery }}"><img src="{{ img }}"></a>
  </div>
  <div class="galleryTitle">{{ gallery }}</div>
  <div id="{{ loop.index }}" class="active hide"><div class="current"></div></div>
</div>
  {% endfor %}
</section>


{% endblock %}
